/* start general tags */
@import 'reaset.css';
@import 'general.css';


.input-container {
    position: relative;
    width: 80%;
    height: 70px;
    margin: 10px auto;
    display: block;
}

.input-container label {
    background-color: #27476E;
    text-align: right;
    display: block;
    float: right;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-radius: 7px 7px 0 0;
    transition: .3s;
}

.input-container label:hover {
    background-color: #365b88;
    transition: .3s;
}

.input-container label span {
    font-size: 16px;
    color: #EAF8BF;
}

.input {
    width: 100%;
    display: block;
    padding: 5px 20px;
    border-radius: 0 0 7px 7px;
    background-color: #EAF8BF;
    transition: .3s;
}

.input:hover {
    transition: .3s;
    background-color: #e1ff89;
}

/* user-type select styles */

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    width: 100%;
    float: left;
    color: #001D4A;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #EAF8BF;
    border-radius: 3px;
}

.select-items div, .select-selected {
    color: #001D4A;
    font-family: 'SGKara';
    padding: 10px 0;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    text-align: right;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #EAF8BF;
    border-radius: 0 0 7px 7px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: right;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* user-type select styles */

/* header styles */
#header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: #27476E;
    border-bottom: 2px solid #ECA400;
    transition: .5s;
}

#header:hover {
    transition: .5s;
    border-bottom: 5px solid #ECA400;
    cursor: pointer;
}

#header .header-info p {
    font-size: 30px;
    font-family: 'SGKara-bold';
    color: #EAF8BF;
}

/* header styles */

/* footer styles */
#footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #27476E;
}

#footer .footer-button-container {
    border: none;
    position: relative;
}

#footer .left-side {
    text-align: left;
    height: 100%;
}

#footer .submit-btn {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #ECA400;
    cursor: pointer;
    font-family: 'SGKara-bold';
    color: #ECA400;
    font-size: 20px;
    background: none;
    transition: .5s;
}

#footer .submit-btn:hover {
    background-color: #ECA400;
    color: #001D4A;
    border-radius: 0;
    transition: .5s;
}

.container table {
    text-align: center;
    width: 100%;
}

.container table tr {
    background-color: #45658d;
    color: #EAF8BF;
}

.container table tr:first-child {
    background-color: #ECA400;
    color: #001D4A;
}

.container table tr:not(:first-child):hover {
    background-color: #45658da1;
    cursor: pointer;
}

.container tr:nth-child(even) {
    background-color: #45658da1;
}

.container table tr th {
    padding: 15px 10px;
    font-family: 'SGKara-bold';
    cursor: pointer;
}

.container table td {
    padding: 15px 10px;
    color: #EAF8BF;
}

.container table i {
    font-size: 22px;
    cursor: pointer;
}

.container table tr:not(:last-child) {
    border-bottom: 1px solid #0b2b53;
}

.container table .delete-icon {
    color: red;
}

/* footer styles */

/* modal styles */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #001e4a87;
}

.modal-container .modal-header {
    border-bottom: 3px solid #ECA400;
    background-color: #001D4A;
    position: sticky;
    top: 0;
    padding: 10px 15px;
    z-index: 99;
}

.modal-container .modal-header p {
    color: #EAF8BF;
    font-family: 'SGKara-bold';
    font-size: 20px;
}

.modal-container .address-form-container {
    border-radius: 20px;
    border: 2px solid #ECA400;
    background-color: #001D4A;
    width: 30%;
    height: 65%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.left-side {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.right-side {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}


.modal-btn {
    background: none;
    border-radius: 6px;
    display: inline-block;
    border: 2px solid #ECA400;
    cursor: pointer;
    color: #EAF8BF;
    font-size: 55px;
    font-family: 'SGKara-bold';
    font-size: 15px;
    height: 30px;
    transition: .5s;
}

.modal-btn:hover {
    background-color: #ECA400;
    color: #001D4A;
    transition: .5s;
}

.modal-btn:active {
    position: relative;
    top: 1px;
}

.modal-footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    border-top: 3px solid #ECA400;
    background-color: #001D4A;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#other-people-modal .modal-footer {
    position: sticky !important;
    bottom: 0;
}

.modal-footer .address-submit {
    width: 60%;
    margin: 0 0 0 17px;
    float: left;
}

.modal-footer .cansell-btn {
    margin: 0 17px 0 0px;
    width: 30%;
    float: right;
}

.submit-container {
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.container .table-container, .footer-button-container,.tab-container {
    border: 3px solid #ECA400;
    width: 80%;
    margin: 20px auto;
}

.table-container{
    display: none;
}

.table-container .table-title {
    font-size: 30px;
    color: #EAF8BF;
    display: inline-block;
    float: right;
    padding: 10px;
}

.table-container .table-icon {
    font-size: 30px;
    color: #EAF8BF;
    display: inline-block;
    float: left;
    padding: 10px;
    cursor: pointer;
    border-right: 3px solid #ECA400;
}

.table-container .table-icon i {
    padding: 0 5px;
}

#tabs {
    background-color: #001D4A;
    height: 50px;
    color: #EAF8BF;
    position: relative;
}

#tabs ul {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

#tabs ul li {
    float: right;
    padding: 15px 20px;
}

#tabs ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 44, 110, 0.577);
}

/* modal styles */


/* styles */