/* start general tags */
@import 'reaset.css';

@font-face {
    font-family: 'SGKara';
    src: url('../font/÷SGKara-Light.ttf');
    src: url('../font/SGKara-Light.ttf?#iefix') format('embedded-opentype'),
        url('../font/SGKara-Light.ttf') format('ttf'),
        url('../font/SGKara-Light.ttf') format('ttf'),
        url('../font/SGKara-Light.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SGKara-bold';
    src: url('../font/SGKara-SemiBold.ttf');
    src: url('../font/SGKara-SemiBold.ttf?#iefix') format('embedded-opentype'),
        url('../font/SGKara-SemiBold.ttf') format('ttf'),
        url('../font/SGKara-SemiBold.ttf') format('ttf'),
        url('../font/SGKara-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

::placeholder {
    color: #001D4A;
    opacity: 1;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body {
    font-family: 'SGKara';
    direction: rtl;
    /* Hide scrollbars */
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'SGKara';
}

input, button {
    outline: none;
    border: 0;
    font-family: 'SGKara';
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 29, 74);
    background: linear-gradient(90deg, rgba(0, 29, 74, 1) 0%, rgba(30, 56, 97, 1) 50%, rgba(0, 29, 74, 1) 100%);
}