@import 'reaset.css';
@import 'general.css';


.left-side {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
}

.authentication, .image-container {
    width: 70%;
    height: 500px;
    /* background-color: red; */
}

.authentication {
    position: absolute;
    left: 10%;
    top: 10%;
}

.right-side {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
}

.image-container {
    position: absolute;
    right: 10%;
    top: 10%;
    /* background-color: red; */
}

.authentication form {
    text-align: center;
    /* background-color: blue; */
    position: absolute;
    top: 15%;
    width: 100%;
}


.authentication .input-container {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
}

.authentication .input {
    width: 85%;
    height: 100%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 7px 0 0 7px;
    background-color: #EAF8BF;
}

.authentication label {
    /* padding: 10px 20px; */
    color: white;
    background-color: #27476E;
    float: right;
    width: 15%;
    height: 100%;
}

.authentication label i {
    position: relative;
    top: 15px;
    font-size: 20px;
    color: #EAF8BF;
}

.authentication .input-container .submit-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 7px;
    /* background-color: #ECA400; */
    border: 2px solid #ECA400;
    cursor: pointer;
    font-weight: bold;
    font-family: SGKara;
    color: #ECA400;
    font-size: 20px;
    background: none;
    transition: .5s;
}

.authentication .input-container .submit-btn:hover {
    background-color: #ECA400;
    color: #001D4A;
    transition: .5s;
}

.info {
    height: 75px;
}

.authentication .info .title {
    font-size: 30px;
    color: #EAF8BF;
    font-weight: bold;
    padding: 10px;
}

.authentication .info .description {
    padding: 0 10px;
    color: #EAF8BF;
}

.authentication .input-container .signup {
    color: #fff;
    float: right;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
    width: 100%;
    border: 1px solid #fff;
    transition: .5s;
}

.authentication .input-container .signup:hover {
    background-color: #EAF8BF;
    transition: .5s;
    color: #001D4A;
    font-weight: bold;
    border: 1px solid #EAF8BF;
}

/* seperator */
#seperator {
    height: 480px;
    height: 30rem;
    width: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, #fff), color-stop(80%, #fff), to(transparent));
    background: linear-gradient(transparent, #fff 20%, #fff 80%, transparent);
    opacity: 0.3;
    margin: 0 160px;
    margin: 0 10rem;
    position: relative;
    -webkit-animation: separator 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: separator 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: blue;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* seperator */

/* right-side styles */
.right-side .top-container {
    height: 75px;
    width: 100%;
    /* background-color: blue; */
    z-index: 1;
}

.right-side .bottom-container {
    position: absolute;
    bottom: 0;
    /* background-color: green; */
    width: 100%;
    height: 50px;
    text-align: center;
}

.right-side .bottom-container img {
    width: 90px;
    vertical-align: center;
    position: relative;
    top: 5px;
}

.right-side .center-container {
    text-align: center;
}

.right-side .center-container img {
    width: 80%;
    position: relative;
    bottom: 15px;
}

.right-side .top-container {
    text-align: right;
}

.right-side .top-container img {
    width: 200px;
    position: relative;
    top: 15px;
}

/* right-side styles */

/* styles */